
// УБЕРИ SANS-SERIF ОН МОЖЕТ ЛОМАТЬ ШРИФТ
// font-weight: normal; font-style: normal; !!!! Иначе ломается на ios!!!!
// ОБРАТИ ВНИМАНИЕ НА ФАЙЛЫ ШРИФТА В ФОРМАТЕ OTF. ОНИ МОГУТ НЕ КОРРЕКТНО ОТБРАЖАТЬСЯ НА IOS. Я УДАЛЯЮ ИХ В ОСОБЕННОСТИ ДЛЯ ШРИФТА МОНСЕРАТ, САЙТЫ АО ГОРИЗОНТ И СЫКТЫВКАР

@font-face {
  font-family: 'Arsenal-Regular';
  src: url('../fonts/Arsenal-Regular.eot');
  src: local('☺'),
    url('../fonts/Arsenal-Regular.woff') format('woff'),
    url('../fonts/Arsenal-Regular.ttf') format('truetype'),
    url('../fonts/Arsenal-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DolomanPavljenko';
  src: url('../fonts/DolomanPavljenko.eot');
  src: local('☺'),
    url('../fonts/DolomanPavljenko.woff') format('woff'),
    url('../fonts/DolomanPavljenko.ttf') format('truetype'),
    url('../fonts/DolomanPavljenko.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
