html,
body {
  height: 100%;
  @extend %Doloman-Light;
  color: $text;
  position: relative;
  // overflow-x: hidden;
  margin: 0 auto;
  background-color: $white;
  font-size: 24px;
}

body.menu-opened {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  margin: 3px;
}

::-webkit-scrollbar-track {
  background-color: $white;
  position: relative;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  // background-color: green;
  background: $pink;
  border-radius: 5px;
  border: 1px solid $text;

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}
.title-h1{
  @extend %Ars-Regular;
  font-size: 96px;
  text-transform: uppercase;
  line-height: 120px;
}
// .title{
//     @extend %AlGrey-Bold;
//     font-size: 36px;
//     line-height: 49px;
//     padding: 0px 35px;
//     border-bottom: 2px solid $blue;
//     text-align: center;
//     margin: 0 auto;
//     margin-bottom: 56px;
//     max-width: fit-content;
// }

.global-btn {
  @extend %Ars-Regular;
  font-size: 20px;
  text-align: center;
  padding: 10px 50px;
  border: 1px solid #000;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  position: relative;
  width: fit-content;
  cursor: pointer;

  &:hover {
    border: 1px solid $pink;

    svg {
      stroke-dashoffset: -480px;
    }
  }
  svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: $pink;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;

    &:hover {
      stroke: $pink;
      box-shadow: 0 2px 15px rgba(255, 39, 152, 0.5);

    }

  }


}




