%Ars-Regular {
  font-family: 'Arsenal-Regular', sans-serif;
  font-weight: normal;
  display: swap;
}

%Doloman-Light {
  font-family: 'DolomanPavljenko', sans-serif;
  font-weight: normal;
    display: swap;
}

// $blue: #ABD0D3;
// $text: #F2F1ED;
// $background: #3B3B3B;
// $line: #BCB3A9;
$pink: rgb(255, 39, 152);
$text: #000000;
$lighy-gray: #FBFBFB;
$white: #ffffff;




// $fuschia: rgb(255, 0, 129);
// $button-bg: $fuschia;
// $button-text-color: #fff;
// $baby-blue: #f8faff;